src/native/jni/*.h
src/native/jni/registerNatives.cpp
src/java/META-INF/services/com.scriptographer.ScriptographerEngine
build/java/build/lib/*.jar
build/java/build/lib/*.jnilib
build/java/build/lib/*.dll
build/java/build/lib/Lib/
build/java/build/classes/
build/java/build/rhino/
build/java/build/loader.jar
build/java/build/jvm.ini
build/mac/Scriptographer.xcodeproj/*.mode1*
build/mac/Scriptographer.xcodeproj/*.pbxuser
build/mac/Scriptographer_CFM Data
build/mac/resources/Info.plist
build/mac/build/
build/win/Scriptographer.ncb
build/win/Scriptographer.sln
build/win/Scriptographer.suo
build/win/Scriptographer.vcproj.*
build/win/CS* Debug/
build/win/CS* Release/
build/win/resources/plugin.rc
build/packages/
docs/js/packages/
scripts/My Scripts/
