body {
	background-color: #fff;
	margin: 16px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 17px;
	color: #000;
	max-width: 480px;
}

select, input, textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin: 0px;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #000;
}

img {
	border: 0px;
}

a:hover {
	background: #e5e5e5;
}

p {
	margin: 0 0 8px 0;
}

ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
}

hr {
	border-top: none;
	border-bottom: 1px dotted #000;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.documentation h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
}

.documentation h2, .documentation h3 {
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin: 0 0 14px 0;
	height: 16px; /* -1 for border */
	border-bottom: 1px solid black;
}

.documentation h3 {
	margin-top: 14px;
	border-bottom-style: dotted;
}

.documentation a tt, .documentation a tt b {
	padding-bottom: 1px;
}

.documentation pre.js {
	background-image: url(paper.gif);
	white-space: pre;
	display: block;
	margin: 0 0 8px 0;
}

.documentation-list ul, .documentation-inherited ul {
	margin-left: 14px;
}

.documentation-packages, .documentation-packages a {
	color: #009dec;
	border-bottom: 0px;
}

.documentation-packages h2, .documentation-packages h3, .documentation-packages hr {
	margin: 8px 0 8px 0;
	border-color: #009dec;
}

.documentation li h2 {
	margin-left: -10px;
}

.documentation-packages a:hover {
	background: #e3f4fc;
}

.documentation-end {
	height: 600px;
}

.documentation-paragraph {
	padding-bottom: 14px;
}

.group-text {
	margin-bottom: 14px;
}

.member-description {
	border: 1px solid #999;
	/* .member-header defines border-top for operator lists */
	border-top: 0;
	margin: 14px 0 14px 0;
}

.member-header {
	border-top: 1px solid #999;
	padding: 8px;
}

.member-title {
	float: left;
	width: 400px;
}

.member-close {
	float: right;
}

.member-text {
	border-top: 1px dashed #999;
	padding: 8px 8px 0 8px;
}

.member-link {
	display: block;
	text-indent: -30px;
	padding-left: 30px;
}

.documentation-inherited ul li {
	text-indent: -30px;
	padding-left: 30px;
}

.member-text ul {
	padding-bottom: 8px;
}

.package-classes {
	margin-top: -8px;
}

.footer {
	margin-top: 20px;
}
