.documentation h1, .documentation h2, .documentation h3 {
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin: 0 0 14px 0;
	height: 16px; /* -1 for border */
	border-bottom: 1px solid black;
}

.documentation h3 {
	margin-top: 14px;
	border-bottom-style: dotted;
}

.documentation a tt, .documentation a tt b {
	padding-bottom: 1px;
}

.documentation pre.js {
	background-image: url(../media/paper-gray.gif);
	margin: 0 0 8px 0;
}

.documentation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.documentation-list ul, .documentation-inherited ul {
	margin-left: 14px;
}

.documentation hr {
	border: none;
	border-bottom: 1px dotted #000;
}

.documentation-packages {
	margin-left: 0px;
}

.documentation-packages h2, .documentation-packages h3, .documentation-packages hr {
	margin: 8px 0 8px 0;
}

.documentation-packages .first h2 {
	margin-top: 0;
}

* html .documentation-packages img {
	margin-top: 5px;
}
.documentation-packages li {
	list-style: none;
	list-style-image: none; /* needed for ie 6 */
}

.documentation-end {
	height: 600px;
}

.documentation-members {
	padding-bottom: 14px;
}

.member-group-text {
	margin-bottom: 14px;
}

.member-description {
	border: 1px solid #999;
	/* .member-header defines border-top for operator lists */
	border-top: 0;
	margin: 14px 0 14px 0;
}

.member-header {
	border-top: 1px solid #999;
	padding: 8px;
}

.member-title {
	float: left;
	width: 400px;
}

.member-close {
	float: right;
}

.member-text {
	border-top: 1px dashed #999;
	padding: 8px 8px 0 8px;
}

.member-link {
	text-indent: -30px;
	padding-left: 30px;
}

.documentation-inherited ul li {
	text-indent: -30px;
	padding-left: 30px;
}

.member-text ul {
	padding-bottom: 8px;
}

ul.package-classes {
	padding-bottom: 4px;
}

.package-classes li {
	margin-left: 8px;
}

.package-classes li h2 {
	margin-left: -8px;
}
